
.recommended-friends {
    margin: 25px 0px;
    border-top: var(--horizontal-gray-border);
    border-bottom: var(--horizontal-gray-border);
}

.recommended-friends__title {
    margin-top: 20px;
    color: var(--gray-light);
    font-size: 17px;
}

.recommended-friends__content {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended-friends__content span {
    color: var(--gray-light);
    font-size: 19px;
}

.open-chat__header {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.open-chat__header h4 {
    font-size: 17px;
    color: var(--gray-light);
}

.open-chat__header span {
    font-size: 16px;
    color: var(--gray-light);
}

.open-chat__component {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-chat__component-title {
    font-weight: 600;
    font-size: 20px;
    margin: 4px 0px;
}

.open-chat__component-hashtag {
    text-transform: uppercase;
    opacity: 0.6;
    margin: 3px 0px;
}

.open-chat__component-info {
    margin: 3px 0px;
    display: flex;
}

.open-chat__component-member-img {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    margin-right: 2px;
}

.open-chat__component-member-count {
    margin: 0px 3px;
    font-size: 14px;
    opacity: 0.6;
}

.open-chat__component-info .divider {
    margin: 0px 3px;
    width: 1px;
    height: 15px;
    background-color: var(--gray-regular);
}

.open-chat__component-state {
    margin: 0px 3px;
    color: #ffb0e0;
}

.open-chat__component-profile-img {
    position: relative;
}

.open-chat__component-profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
}

.open-chat__component-profile-heart-count {
    display: flex;
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: var(--gray-regular);
    opacity: 0.8;
    color: white;
    font-size: 13px;
    padding: 6px 8px;
    border-radius: 12px;
    align-items: center;
    text-align: center;
}

.open-chat__component-profile-heart-count i {
    margin: 0px 2px;
}

.open-chat__component-profile-heart-count span  {
    margin: 0px 2px;
}

@keyframes heartbeat {
    0% {
        color: white;
        transform: none;
    }
    50% {
        color: tomato;
        transform: scale(2);
    }
    100% {
        color: white;
        transform: none;
    }
    
}

.open-chat__component-profile-heart-count:hover i{
    animation: heartbeat 1s linear infinite;
}